<div class="contenedor" *ngIf="educacion">
  <div class="row">
      <div>
          <form (ngSubmit)="onUpdate()" novalidate #f="ngForm">
              <div class="form-group">
                  <label for="nombreE">Nombre de la Institucion</label>
                  <input type="text" class="form-control" id="nombreE" name="nombreE" [(ngModel)]="educacion.nombreE" required>
              </div>
              <div>
                  <label for="descripcionE">Descripcion de la Educacion</label>
                  <input type="text" name="descripcionE" id="descripcionE" class="form-control" [(ngModel)]="educacion.descripcionE" required>
              </div>
              <button class="btn btn-primary">
                  agregar educacion
              </button>
          </form>
      </div>
  </div>
  </div>
