.gradient-custom {
    /* fallback for old browsers */
    background: #fb4bb8;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(237, 54, 218), rgb(242, 58, 230));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(244, 74, 215), rgb(255, 51, 177))
    }